@charset "utf-8";
body,html {
    width: 100%;
}
header,#header{
	height: 50px;
	background-color:#000;
	color:#fff;
}
nav,#menu {
    position: absolute;
	left:-50px;
    height: 100%;
    width: 50px;
    background: #ff4401;
}
#menu li {
    margin-right: 10px;
    list-style: none;
}
.raw{
    margin-left: -20px;
}
#content{
    width: 100%;
}
#title{
	margin-top:140px;
}
#title h1,#title h4{
    text-align: center;
    font-family: Yahei,'微软雅黑',Arial,sans-serif;
	margin-top:25px;
}
#summary{
    text-align: center;
	margin-top: 100px;
}
#item {
	margin-top: 80px;
}
#other {
	
}
footer,#footer {
	height:50px;
	width:100%;
	position:absolute;
	bottom:0px;;
	background-color:#000;
	color:#fff;
}
