@charset "utf-8";
body,html {
    width: 100%;
}
nav {
    position: absolute;
    top: -50px;
    height: 50px;
    width: 100%;
    background: #ff4401;
}
nav li {
    float: left;
    margin-right: 10px;
    list-style: none;
}
.raw{
    margin-left: -20px;
}
#content{
    width: 100%;
}
#summary{
    text-align: center;
}
#title h1,#title h4{
    text-align: center;
    font-family: Yahei,'微软雅黑',Arial,sans-serif;
}
