<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
	
		<!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hebernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3305/hibernate</property>
        <property name="connection.username">root</property>
        <property name="connection.password">640310</property>
        
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>


		 <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">update</property> 
        
        
        <mapping class="com.entity.User"/>
	
        <!-- JDBC connection pool (use the built-in) 
        <property name="connection.pool_size">1</property> -->

        

        <!-- Enable Hibernate's automatic session context management 
        <property name="current_session_context_class">thread</property> -->

        <!-- Disable the second-level cache  
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property> -->

        

       <!--  
		<property name="hibernate.search.default.directory_provider">filesystem</property>
		<property name="hibernate.search.default.indexBase">target/indexes</property>
		<mapping class="org.hibernate.search.test.spatial.POI"/> -->
		
	</session-factory>
</hibernate-configuration>