@charset "utf-8";
/* CSS Document */
.login {
    color: white;
    padding: 38px 38px 267px;
    position: relative;
    width: 370px;
    margin: 0 auto;
    top: 200px;
}

.login-form {
    background-color: #eceff1;
    border-radius: 6px;
    padding: 24px 23px 20px;
    position: relative;
}

.login-form:before {
    content: "";
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #eceff1 transparent transparent;
    height: 0px;
    position: absolute;
    left: -12px;
    top: 35px;
    width: 0;
    -webkit-transform: rotate(360deg);
}

.login-form .control-group {
    margin-bottom: 6px;
    position: relative;
}

.login-form .login-field {
    border-color: transparent;
    font-size: 17px;
    padding-bottom: 11px;
    padding-top: 11px;
    text-indent: 3px;
    width: 299px;
}

.login-form .login-field:focus + .login-field-icon {
    color: #1abc9c;
}

.login-form .login-field-icon {
    color: #bfc9ca;
    font-size: 16px;
    position: absolute;
    right: 13px;
    top: 14px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

.btn {
    border: none;
    background: #34495e;
    color: white;
    font-size: 16.5px;
    text-decoration: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

.btn:hover, .btn:focus {
    background-color: #4e6d8d;
    color: white;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden;
}

.btn:active, .btn.active {
    background-color: #2c3e50;
    color: rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn.disabled, .btn[disabled] {
    background-color: #95a5a6;
    color: white;
}

.btn.btn-large {
    padding-bottom: 12px;
    padding-top: 13px;
}

.btn.btn-primary {
    background-color: #1abc9c;
}

.btn.btn-primary:hover, .btn.btn-primary:focus {
    background-color: #2fe2bf;
}

.btn.btn-primary:active, .btn.btn-primary.active {
    background-color: #16a085;
}

input[type=text], input[type=password] {
    border: 2px solid #dce4ec;
    color: #34495e;
    font-family: "Lato",Arial, sans-serif;
    font-size: 14px;
    padding: 8px 0 9px 10px;
    text-indent: 1px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #1abc9c;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}